# ===============================================================
# @Krasner
# Krasner is a core C/C++ and Python maintainer.
# ---------------------------------------------------------------
# C/C++ & building it
/.clang-format                     @Krasner
/core                              @Krasner
/bindings                          @Krasner
/.gitmodules                       @Krasner
*.[cpp,c,hpp,h]                    @Krasner
**/CMakeLists.txt                  @Krasner
/.github/workflows/cmake-build.yml @Krasner
/packages                          @Krasner
/third_party                       @Krasner

# WebGPU
*.wgsl                             @Krasner

# Python
*.py                               @Krasner


# ===============================================================
# @Ryan-Millard
# Ryan is the author and oversees most of the code in the project
# ---------------------------------------------------------------
* @Ryan-Millard
# Do not put code after @Ryan-Millard as it is the catch-all
