# pnpm
node_modules/
.pnpm-store/

# cmake
build*/

# C++ Example app
console-cpp-output.png

# Logs
logs
*.log
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
*:Zone.Identifier

.env
