packages/js/build-wasm
docs/.docusaurus
docs/build/
example-apps/react-js/dist/
.clang-format
.devcontainer
.dockerignore
.editorconfig
.git/
.gitattributes
.github/
.gitignore
.prettierignore
.prettierrc
CMakeLists.txt
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile.dev
README.md
bindings/
build*/
core/
docker-compose.yml
img2num
img2num.bat
img2num.ps1
node_modules/
scripts/
pnpm-lock.yaml
.pnpm-store/
docs/static/js/api.json
docs/docs/js/api/
example-apps/react-js/src/data/contributor-credits.json
