packages/js/build-wasm
.clang-format
.devcontainer
.dockerignore
.editorconfig
.git/
.gitattributes
.github/
.gitignore
.prettierignore
.prettierrc
CMakeLists.txt
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile.dev
README.md
bindings/
build*/
core/
docker-compose.yml
img2num
img2num.bat
img2num.ps1
node_modules/
scripts/
pnpm-lock.yaml
.pnpm-store/
third_party/
.venv
.img2num-state
.npmrc
LICENSE*
bindings/py/
bindings/c/
packages/py
**/CHANGELOG.md

docs/.docusaurus
docs/build/
docs/static/*
docs/docs/js/api/
docs/changelog/

example-apps/react-js/src/data/contributor-credits.json
example-apps/react-js/dist/
example-apps/*-py/
example-apps/*-cpp/
example-apps/*-c/
example-apps/html-js/dist/
packages/js/dist
