.svgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* or width/height ratio of your image */
  overflow: hidden;
}
.svgContainer svg {
  width: 100%;
  height: 100%;
}

/* Default path appearance */
.svgContainer:not(#noEditSvgContainer) {
  cursor: pointer;
  transition: 150ms ease;
}
.emptyPathSvgContainer svg path:not(#svgContainerColouredPath) {
  stroke: var(--color-text);
  stroke-width: 0.25;
  fill: white;
}
