.switch{
    display: flex;
    align-items: center;
    width:64px;
    height:32px;
    border-radius: 30px;
    padding: 0;
    margin-right:20px;
    cursor: pointer;
    position:relative;
}

.checked{
    background-color: rgb(26, 194, 26);
}

.thumb{
position:absolute;
left:2px;
width:30px;
height:30px;
border-radius: 100%;
transition:transform 0.3s ease;
background-color: rgba(255, 255, 255, 0.956);
}

.checked .thumb{
    transform: translateX(100%);
}
