.card {
  color: var(--color-text-light);
  padding: 1.5rem;
  flex: 1;
  min-width: 200px;
}

/*Table Styles*/
.card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  word-break: break-word;
}

.card td {
  padding: 0.35rem 0.5rem;
  border-bottom: 1px solid var(--glass-table-border);
  font-size: 0.95rem;
}

/* round top row */
.card tr:first-child td:first-child {
  border-top-left-radius: var(--spacing-md);
}
.card tr:first-child td:last-child {
  border-top-right-radius: var(--spacing-md);
}

/* round bottom row */
.card tr:last-child td:first-child {
  border-bottom-left-radius: var(--spacing-md);
}
.card tr:last-child td:last-child {
  border-bottom-right-radius: var(--spacing-md);
}

.card tr:nth-child(odd) {
  background-color: var(--glass-table-row-odd);
}
.card tr:hover {
  background-color: var(--glass-table-row-hover);
  transform: scale(1.02);
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.card tr td:first-child {
  font-weight: bold;
}
