.switch {
  --size:32px;
  display: flex;
  align-items: center;
  width: calc(var(--size) * 2);
  height: var(--size);
  padding: 0;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  margin-right:15px;
}

.thumb {
  position: absolute;
  left:0;
  bottom: 0;
  width: calc(var(--size) - 4px);
  height: calc(var(--size) - 4px);
  border-radius: 50%;
  background: var(--color-surface);
  color: var(--color-text);
  transition: transform 0.3s ease;
}

.checked .thumb {
  transform: translateX(var(--size));
}
