.switch{
    display: flex;
    align-items: center;
    width:64px;
    height:32px;
    border-radius: 30px;
    padding: 0;
    margin-right:20px;
    cursor: pointer;
}
.unChecked{
    justify-content: start;
}
.checked{
    justify-content: end;
    background-color: rgb(26, 194, 26);
}

.thumb{
width:30px;
height:30px;
border-radius: 100%;
transition:color 0.3s ease;
background-color: rgba(255, 255, 255, 0.956);
}

