.themeButton {
  border-radius: 9999px;
  padding: 0.5rem 0.75rem;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 0px 0.875rem;
  cursor: pointer;
}

.themeButton:hover {
  .icon {
    color: var(--color-secondary);
  }
  transform: scale(1.05);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}