.themeButton {
  border-radius: 9999px;
  padding: 0.5rem 0.75rem;
  box-shadow:
    0 10px 15px -3px rgba(24, 24, 27, 0.05),
    0 4px 6px -2px rgba(24, 24, 27, 0.05);
  backdrop-filter: blur(8px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 0px 0.875rem;
}

.themeButton:hover {
  transform: scale(1.05);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #27272a;
  transition: color 0.2s ease-in-out;
}

/* Dark mode styles */
:global(:root.dark) .icon {
  color: var(--color-text);
}
