.themeButton{
  width:60px;
  height:30px;
  border-radius: 9999px;
  padding-inline: 8px;
  transition: transform 0.2s ease-in-out;
  border: none;
  margin: 0px 0.875rem;
  position:relative;
    display: flex;
  align-items: center;
  justify-content: center;
}

.themeButtonLight{
  background-color: #1a001f;
}

.themeButtonDark{
  background-color: #ddd9d9;
}

.themeButton:hover .icondark {
  color: rgb(220, 220, 220);
}

.themeButton:hover .icon {
  color: #1a001f;
}

.themeButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}


.icon {
  height: 1.3rem;
  width: 1.3rem;
  color: var(--color-primary);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.icondark{
  height: 1.3rem;
  width: 1.3rem;
  color: var(--color-primary);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.themeButtonLight .icon{
  transform: translateX(0);
}
.themeButtonLight .icondark{
transform: translateX(100%);
}

.themeButtonDark .icon{
  transform: translateX(-100%);
}
.themeButtonDark .icondark{
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .icon,
  .icondark,
  .themeButton {
    transition: none;
  }
}
