label,
label * {
  -webkit-tap-highlight-color: transparent;
}

.dropZone {
  cursor: pointer;
  padding: 2%;
  gap: 1em;
}
.dropZone[data-image-loaded="false"] {
  padding: 5%;
  gap: 2em;
}

.noTextWrap {
  white-space: nowrap;
}

.preview {
  height: 50vh;
  object-fit: contain;
  margin-bottom: var(--spacing-xs);
}

.uploadIcon {
  width: 7em;
  height: 7em;
}

.dragDropText {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}
