.dropZone {
	border-style: dashed;
	border-width: 2px;
	width: 80%;
	margin: var(--spacing-md) auto 0;
	cursor: pointer;
	backdrop-filter: blur(50px);
}
.dropZone * {
	cursor: pointer;
}

.preview {
	height: 100%;
	object-fit: contain;
	margin-bottom: var(--spacing-xs);
}

.uploadIcon {
	width: 200px;
}

.dragDropText {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
}
.dragDropText > span {
	color: var(--color-primary);
	text-decoration: underline;
	text-wrap: nowrap;
}
