.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.dropZone {
	border: 2px dashed #888;
	border-radius: 8px;
	width: 60vw;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	cursor: pointer;
}
.dropZone * {
	z-index: 1;
}
@media (max-width: 600px) {
	.dropZone {
		width: 90vw;
		height: 30vh;
	}
}

.dragDropText {
	font-weight: bold;
	font-size: 2em;
}
.dragDropText > span {
	color: var(--color-primary);
	text-decoration: underline;
	text-wrap: nowrap;
}

.preview {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.svgContainer svg path:not(#svgContainerColouredPath) {
	stroke: black;
	stroke-width: 0.25;
	fill: white;
}
