.tocContainer {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);

  display: flex;
  flex-direction: column;

  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));

  padding: 8px;
  border-left: 1px solid var(--ifm-toc-border-color);
}

.tableOfContents {
  overflow-y: auto;
  flex: 1;

  padding-right: 8px;
}

.tableOfContents ul {
  list-style: none;
  margin: 0 0 0 8px;
  padding: 0;
}

.tableOfContents li a {
  margin: 0;
  padding: 4px 8px;
}

.tocHeader {
  margin: 0 0 8px;

  font-size: var(--ifm-h3-font-size);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  color: var(--ifm-heading-color);
}

.copyContainer button {
  border: none;
  background: transparent;
}

.copyContainer button:hover,
.copyContainer button:hover * {
  color: var(--ifm-link-hover-color);
}

.copyContainer {
  margin-top: 8px;
}

.copyContainer * {
  border: none !important;
  background: var(--ifm-background-color) !important;
}

.editMeta {
  padding: 8px;
  color: var(--ifm-toc-link-color);
}

.reportIssueLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 8px;
}

.githubIcon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

@media (max-width: 996px) {
  .tocContainer {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
