name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    name: Lint & Validate Code
    runs-on: ubuntu-latest
    container:
      image: ryanmillard/img2num-dev:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install PNPM dependencies
        run: pnpm install

      - name: Run ESLint
        run: pnpm run eslint

      - name: Validate format
        run: pnpm run format:check

      - name: Validate .editorconfig adherance
        run: pnpm run editorconfig:check

      - name: Validate scriptsInfo in package.json
        run: pnpm run validate-scripts

  build-wasm:
    name: Build WASM
    uses: ./.github/workflows/build-wasm.yml

  build-react-app:
    name: Build React App
    uses: ./.github/workflows/build-react-app.yml
    needs: build-wasm
    with:
      wasm-artifacts-path: packages/js/build-wasm/

  build-docs:
    name: Build Documentation Site
    uses: ./.github/workflows/build-docs.yml
    secrets:
      ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
      ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
      ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
