name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  cmake-build:
    name: Build WASM
    uses: ./.github/workflows/cmake-build.yml

  build-react-app:
    name: Build React App
    uses: ./.github/workflows/build-react-app.yml
    needs: cmake-build
    with:
      wasm-artifacts-path: packages/js/build-wasm/

  build-docs:
    name: Build Documentation Site
    uses: ./.github/workflows/build-docs.yml
    secrets:
      ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
      ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
      ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}

  deploy-react-app:
    name: Deploy React App to GitHub Pages
    needs: build-react-app
    runs-on: ubuntu-latest
    steps:
      - name: Download React build artifacts
        uses: actions/download-artifact@v7
        with:
          name: react-build
          path: ./react-dist

      - name: Deploy React App
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./react-dist
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"

  deploy-docs:
    name: Deploy Documentation to GitHub Pages
    needs: build-docs
    runs-on: ubuntu-latest
    steps:
      - name: Download Docs build artifacts
        uses: actions/download-artifact@v7
        with:
          name: docs-build
          path: ./docs-dist

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs-dist
          destination_dir: info
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
