# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "0 2 * * *" # every day at 02:00 UTC
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue has been inactive for 60 days. Please comment if it is still relevant or it will be closed in 14 days."
          stale-pr-message: "This pull request has been inactive for 60 days. Please update it or it will be closed in 14 days."
          stale-issue-label: "no-issue-activity"
          stale-pr-label: "no-pr-activity"
          days-before-stale: 60
          days-before-close: 14
          exempt-issue-labels: "pinned,important"
          exempt-pr-labels: "pinned,important"
